body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
    SCROLLBAR-FACE-COLOR: #D6E0EC; 
	SCROLLBAR-HIGHLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-SHADOW-COLOR: #E9F0F8; 
	SCROLLBAR-3DLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-ARROW-COLOR:  #99B3D0; 
	SCROLLBAR-TRACK-COLOR: #E9F0F8; 
	SCROLLBAR-DARKSHADOW-COLOR: #E9F0F8;   
	
}

.invisible
{
 border-color:#FFFFFF;
 border:none;
 color:#FFFFFF;
 font-color:#FFFFFF;
}
.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /* Estilos para la imagen agrandada*/ 
position: absolute;
background-color:#ffffff;
padding: 5px;
left: -100px;
visibility: hidden;
color: #ffffff;
text-decoration: none;
}

.thumbnail span img{ 
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ 
visibility: visible;
top: 0;
left: 10px; 
}

.thumbnail2{
position: absolute;
z-index: 0;
}

.thumbnail2:hover{
background-color: transparent;
z-index: 0;
}

.thumbnail2 span{ /* Estilos para la imagen agrandada */
position: absolute;
background-color:transparent;
visibility: hidden;
text-decoration: none;
}

.thumbnail2 span img{ 
border-width: 0;
padding: 2px;
}

.thumbnail2:hover span{ 
visibility: visible;
top: 0;
left: 1px; 
}


td, th, input, select, textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; text-decoration: none
}

a:link {
  color: #0240a3; text-decoration: none
}

a:visited {
  color: #0240a3;
}

a:active {
  color: #FF0000;  text-decoration: underline
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

body, form {
  margin: 0;
  padding: 0;
}


/* ---------- list  --------- 
/*
th {
text-align: center;
  background: #00468E;
  PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
  font-size: 11px; color: #FFFFFF;
}


th img {
  vertical-align: bottom;
  padding-left: 3px;
}

th a:link, th a:visited, th a:active {
  color: #000000;
  text-decoration: none
}

.mizzA {
PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
background-color: #FFFFFF; 
text-decoration: none;
}

.mizzB {
PADDING-LEFT: 10px; PADDING-BOTTOM:4px; PADDING-TOP: 4px;
background-color: #4E6792; 
text-decoration: none;
COLOR: #FFFFFF;
}

.mizzA a:link, .mizzA a:visited, .mizzA a:active {  
  text-decoration: none;
}

.mizzB a:link, .mizzB a:visited, .mizzB a:active {  
  text-decoration: none;
  COLOR: #FFFFFF;
}

.tablaazul {
	background-color: #D6DFF7; 
}

.bordetablaazul {
	BORDER-BOTTOM: #4E6792 1px solid; BORDER-TOP: #4E6792 1px solid; BORDER-LEFT: #4E6792 1px solid; BORDER-RIGHT: #4E6792 1px solid; background-color: #ffffff; 
}

.bordetablaazulB {
	BORDER-BOTTOM: #4E6792 1px solid; BORDER-LEFT: #4E6792 1px solid; BORDER-RIGHT: #4E6792 1px solid; background-color: #ffffff; 
}

.rollotabla {
background-color: #FFCC99; 
}

.titulosec {
  background: #4E6792;
  padding-top: 3px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);
  height: 10px;
  font-size: 12px;
  font-family: Arial;
  color: #FFFFFF;
  text-align: center;
  vertical-align: bottom;  
}

.tablagris {
	background-color: #F0F0F0; 
}

.tablagrisIMP {
	background-color: #F0F0F0;
	BORDER-LEFT: #4E6792 1px solid;
}


.tablaroja {
	background-color: #cc0000; 
}

.tablaverde {
	background-color: #006633;
	  font-family: Arial;
  		color: #FFFFFF; 
}


.tablagrisClara {
	background-color: #F9F9F9; 
}

.tablablanca {
	background-color: #ffffff;
}

.tablablancaIMP {
	background-color: #ffffff;
	BORDER-LEFT: #4E6792 1px solid;
}

.textogris {
   padding-top: 2px;
	padding-left: 12px;
	text-align: left;
	color: #666666;
}

.advertencia {
  background: #ffd9d9;
  color: #0240a3;
}

.avrojo {
  color: #cc0000;
}



select { 
 background-color: #F9F9F9; 
 color: #000000; 
}

input { 
 font-size: 11px; 
 background-color: #ffffff; 
 border: 1px solid #666666;
}

input.crono {
background-color: #F9F9F9; 
font-weight: bold; 
font-size: 16px; 
color: #cc0000;
text-align: center;
}

textarea { 
 background-color: #ffffff; 
 color: #000000; 
 border: 1px solid #4E6792;
}

hr {
color: #B0B7C7;
border: 0;
height: 1px;
}

/* RTR A D 1 

.fondo_logo {
BACKGROUND-COLOR: #00468E;
}

.titulo { 
 font-size: 18px; 
 font-weight: bold;
 color: #627090; 
 border-bottom: 1px solid #B0B7C7;
}

.volver { 
 font-size: 13px; 
 font-weight: bold;
 color: #000000; 
}


/* ESTILO TAB 

.tabOFF{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
color: #627090;
background: #ffffff;
CURSOR: pointer;
}

.tabON{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
/*BORDER-TOP: #66CC66 3px solid;
BORDER-TOP: #FFFF99 3px solid;
 color: #ffffff;
background: #00468E;
CURSOR: pointer;
}

/* FIN ESTILO TAB 


.titulolista {
  background: #D6DFF7;
  padding-top: 7px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);
  height: 27px;
  font-size: 10px;
  vertical-align: bottom;  
}

.mayus {
text-transform:uppercase;
text-align:justify;
text-shadow:#000000;
text-indent:inherit;

}

.mayus2 {
text-transform:uppercase;
text-align:center;
text-shadow:#000000;
text-indent:inherit;

}

.bordetablaNegro {
	BORDER-BOTTOM: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; background-color: #ffffff; 
}

.bordetablaNegro2 {
	 BORDER-LEFT: #000000 1px solid;  background-color: #ffffff; 
}


.Fondo {
background-color:#999999;
	 
}
/*

body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
    background: #FFFFFF; 
    SCROLLBAR-FACE-COLOR: #D6E0EC; 
	SCROLLBAR-HIGHLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-SHADOW-COLOR: #E9F0F8; 
	SCROLLBAR-3DLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-ARROW-COLOR:  #99B3D0; 
	SCROLLBAR-TRACK-COLOR: #E9F0F8; 
	SCROLLBAR-DARKSHADOW-COLOR: #E9F0F8;   
	
}


td, th, input, select, textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; text-decoration: none
}

a:link {
  color: #515100; text-decoration: none
}

a:visited {
  color: #515100;
}

a:active {
  color: #FF0000;  text-decoration: underline
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

body, form {
  margin: 0;
  padding: 0;
}


/* ---------- list  --------- */

th {
text-align: center;
  background: #00468E;
  PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
  font-size: 11px; color: #FFFFFF;
}


th img {
  vertical-align: bottom;
  padding-left: 3px;
}

th a:link, th a:visited, th a:active {
  color: #000000;
  text-decoration: none
}

.mizzA {
PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
background-color: #FFFFFF; 
text-decoration: none;
}

.mizzB {
PADDING-LEFT: 10px; PADDING-BOTTOM:4px; PADDING-TOP: 4px;
background-color: #9FB952; 
text-decoration: none;
COLOR: #FFFFFF;
}

.mizzA2 {
PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
background-color: #FFFFFF; 
text-decoration: none;
}

.mizzB2 {
PADDING-LEFT: 12px; PADDING-BOTTOM:4px; PADDING-TOP: 4px;
background-color: #4E6792; 
text-decoration: none;
COLOR: #FFFFFF;
}

.mizzA a:link, .mizzA a:visited, .mizzA a:active {  
  text-decoration: none;
}

.mizzB a:link, .mizzB a:visited, .mizzB a:active {  
  text-decoration: none;
  COLOR: #FFFFFF;
}

.tablaazul {
	background-color: #D6DFF7; 
}

.bordetablaazul {
	BORDER-BOTTOM: #CECECE 1px solid; BORDER-TOP: #CECECE 1px solid; BORDER-LEFT: #CECECE 1px solid; BORDER-RIGHT: #CECECE 1px solid; background-color: #ffffff; 
}

.bordetablaazulB {
	BORDER-BOTTOM: #4E6792 1px solid; BORDER-LEFT: #4E6792 1px solid; BORDER-RIGHT: #4E6792 1px solid; background-color: #ffffff; 
}

.rollotabla {
background-color: #FFCC99; 
}

.titulosec2 {
  background: #4C2052;
  padding-top: 3px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 10px;
  font-size: 12px;
  font-family: Arial;
  color: #FFFFFF;
  text-align: center;
  vertical-align: bottom;  
}

.titulosec {
  background:#131395;
  padding-top: 3px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 10px;
  font-size: 12px;
  font-family: Arial;
  color: #FFFFFF;
  text-align: center;
  vertical-align: bottom;  
}

.titulosec3 {
  background:#4C2052;
  padding-top: 3px;
  height: 14px;
  font-size: 15px;
  font-family: Arial;
  color: #FFFFFF;
  text-align: center;
  vertical-align:top;  
}

.tablagris {
	background-color: #F0F0F0; 
}

.tablagrisIMP {
	background-color: #F0F0F0;
	BORDER-LEFT: #4E6792 1px solid;
}


.tablaroja {
	background-color: #cc0000; 
}

.tablaverde {
	background-color: #006633;
	  font-family: Arial; font-weight:bold; 
  		color: #FFFFFF; 
}


.tablagrisClara {
	background-color: #F9F9F9; 
}

.tablablanca {
	background-color: #ffffff;
}

.tablablancaIMP {
	background-color: #ffffff;
	BORDER-LEFT: #4E6792 1px solid;
}

.textogris {
   padding-top: 2px;
	padding-left: 12px;
	text-align: left;
	color: #666666;
}

.advertencia {
  background: #ffd9d9;
  color: #0240a3;
}

.avrojo {
  color: #cc0000;
}



select { 
 background-color: #F9F9F9; 
 color: #000000; 
}

input { 
 font-size: 11px; 
 background-color: #ffffff; 
 border: 1px solid #666666;
}

input.crono {
background-color: #F9F9F9; 
font-weight: bold; 
font-size: 16px; 
color: #cc0000;
text-align: center;
}

textarea { 
 background-color: #ffffff; 
 color: #000000; 
 border: 1px solid #4E6792;
}

hr {
color: #B0B7C7;
border: 0;
height: 1px;
}

/* RTR A D 1 */

.fondo_logo {
BACKGROUND-COLOR: #00468E;
}

.titulo { 
 font-size: 18px; 
 font-weight: bold;
 color: #4C2052; 
 border-bottom: 1px solid #4C2052;
}


/* ESTILO TAB */

.tabOFF{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
color: #627090;
background: #ffffff;
CURSOR: pointer;
}

.tabON{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
/*BORDER-TOP: #66CC66 3px solid;*/
BORDER-TOP: #FFFF99 3px solid;
 color: #ffffff;
background: #4C2052;
CURSOR: pointer;
}

/* FIN ESTILO TAB */


.titulolista2 {
  background: #D6DFF7;
  padding-top: 7px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 27px;
  font-size: 10px;
  vertical-align: bottom;  
}
/*se modifico para el azul proasem*/
.titulolista {
  background:#131395;
  padding-top: 7px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 27px;
  font-size: 10px;
  vertical-align: bottom;
  color:#FFFFFF;
}

.mayus {
text-transform:uppercase;
text-align:justify;
text-shadow:#000000;
text-indent:inherit;

}

.mayus2 {
text-transform:uppercase;
text-align:center;
text-shadow:#000000;
text-indent:inherit;

}

.bordetablaNegro {
	BORDER-BOTTOM: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; background-color: #ffffff; 
}

.bordetablaNegro2 {
	 BORDER-LEFT: #000000 1px solid;  background-color: #ffffff; 
}


.Fondo {
background-color:#999999;
	 
}
