body {

	font-size: 16px;
	font-weight: normal;
	color: #767676;
	margin-top:2; margin-left:3; margin-right:3;
}



A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}

.TextoN {
	FONT-SIZE: 11px; HEIGHT: 100%
}

.rojo {
	COLOR: red;FONT-SIZE: 12px; HEIGHT: 100%
}
.contenedor {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; WIDTH: 100%; BORDER-BOTTOM: silver 1px solid; HEIGHT:100%; BACKGROUND-COLOR: #f6f6f6;
}

.CajaBlanca {
	COLOR: #666666; BACKGROUND-COLOR: #ffffff
}

.CajonForms {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #aaaaaa 1px solid; COLOR: #666666; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f3f3f3
}

.filaON {
background-color: #ffeec2; FONT-SIZE: 11px; /*color:#ff0000;  display: inline;*/ BORDER-BOTTOM: #dddddd 1px solid;
}

.filaOFF {
	FONT-SIZE: 11px;
}

.BoldGris {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: verdana
}

.TitSeccion {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; COLOR: #666666; PADDING-TOP: 0px; FONT-FAMILY: tahoma, verdana; BACKGROUND-COLOR: #ffffff
}

.CajaMenuizz {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid;PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 220px; PADDING-TOP: 0px; BORDER-BOTTOM: silver 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #f3f3f3
}

INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: verdana
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}


/* ESTILOS PARA TABLAS */


.MarcoTabla {
	/*BORDER-RIGHT: #57566f 1px solid; BORDER-TOP: #57566f 1px solid; BORDER-LEFT: #57566f 1px solid;BORDER-BOTTOM: #57566f 2px solid; */BORDER-BOTTOM: #dddddd 1px solid; CURSOR: pointer;  BACKGROUND-COLOR: #ffffff;
}
.MarcoAzul {
	BORDER-RIGHT: #57566f 1px solid; BORDER-TOP: #57566f 1px solid; BORDER-LEFT: #57566f 1px solid;BORDER-BOTTOM: #57566f 1px solid; BORDER-BOTTOM: #57566f 1px solid; BACKGROUND-COLOR: #ffffff;
}

.cab1 {
	BORDER-RIGHT: #57566f 1px solid; BORDER-TOP: #57566f 1px solid; BACKGROUND-IMAGE: url(../images/fondos/degazul.gif); BORDER-LEFT: #57566f 1px solid; BORDER-BOTTOM: #57566f 1px solid; BACKGROUND-COLOR: #757495; align: center;
}
.cab2 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 0px solid; BACKGROUND-IMAGE: url(../images/fondos/deggris.gif); BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: silver; align: center;
}
.cab3 {
	BACKGROUND-IMAGE: url(../images/fondos/submbg.gif); BACKGROUND-COLOR: silver; align: center;
}
.cab1TX {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: tahoma; align: center;
}

.cab1TX A:{
	FONT-WEIGHT: bold; FONT-SIZE: 11px; CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: tahoma; align: center;
}

.rolotab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/fondos/rolotab.gif); CURSOR: pointer; COLOR: #ffffff; FONT-FAMILY: tahoma; align: center;
}
.cab1Select {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #807f9a 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/fondos/tab.gif); BORDER-LEFT: #807f9a 1px solid; CURSOR: default; COLOR: #333333; BORDER-BOTTOM: #807f9a 0px solid; FONT-FAMILY: tahoma; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: silver; align: center;
}

.cab1SelectBottom {
	BORDER-LEFT: #ffffff 1px solid; BORDER-Bottom: #807f9a 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/fondos/tab.gif); BORDER-RIGHT: #807f9a 1px solid; CURSOR: default; COLOR: #333333; BORDER-TOP: #807f9a 0px solid; FONT-FAMILY: tahoma; POSITION: relative; TOP: 1px; BACKGROUND-COLOR: #f6f6f6; align: center;
}

.cab2TX {
	FONT-SIZE: 11px; CURSOR: pointer; FONT-FAMILY: tahoma; align: center;
}
.Rolocab2TX {
	FONT-SIZE: 11px; CURSOR: pointer; FONT-FAMILY: tahoma; TEXT-DECORATION: underline; align: center;
}
.Selectedcab2TX {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma; TEXT-DECORATION: underline; align: center;
}

.fondo_logo {
BACKGROUND-COLOR: #00468E;
}


.titulo { 
 font-size: 18px; 
 font-weight: bold;
 color: #627090; 
 border-bottom: 1px solid #B0B7C7;
}

.titulo2 { 
 font-size: 11px; 
 font-weight: bold;
 color: #627090; 
 border-bottom: 1px solid #B0B7C7;
}

.toptabla {

  background: #00468E;
/*   background: #758DB5;*/
  padding-top: 7px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 20px;
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;
  color: #FFFFFF;
  /*text-align: center;*/
  vertical-align: bottom;  
}

input { 
 font-size: 10px; 
 background-color: #ffffff; 
 
}
th {
text-align: left;
  background: #00468E;
  PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
  font-size: 12px; color: #FFFFFF;
}

.mizzA {
PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px;
background-color: #FFFFFF; 
text-decoration: none;
}

.mizzB {
PADDING-LEFT: 10px; PADDING-BOTTOM:4px; PADDING-TOP: 4px;
background-color: #4E6792; 
text-decoration: none;
COLOR: #FFFFFF;
}

.mizzA a:link, .mizzA a:visited, .mizzA a:active {  
  text-decoration: none;
}

.mizzB a:link, .mizzB a:visited, .mizzB a:active {  
  text-decoration: none;
  COLOR: #FFFFFF;
}
