body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #767676;
    background: #FFFFFF; 
    SCROLLBAR-FACE-COLOR: #D6E0EC; 
	SCROLLBAR-HIGHLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-SHADOW-COLOR: #E9F0F8; 
	SCROLLBAR-3DLIGHT-COLOR: #E9F0F8; 
	SCROLLBAR-ARROW-COLOR:  #99B3D0; 
	SCROLLBAR-TRACK-COLOR: #E9F0F8; 
	SCROLLBAR-DARKSHADOW-COLOR: #E9F0F8;   
}


td, input, select, textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; text-decoration: none
}

hr {
color: #B0B7C7;
border: 0;
height: 1px;
}

a:link {
  color: #626161; text-decoration: none
}

a:visited {
  color: #626161;
  text-decoration: none
}

a:active {
/*background: #ffffff;*/
  color: #C83A3A;  text-decoration: none
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

body, form {
  margin: 0;
  padding: 0;
}


/* ---------- list  --------- 

th {
text-align: left;
  background: #D6DFF7;
  PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}


th img {
  vertical-align: bottom;
  padding-left: 3px;
}

th a:link, th a:visited, th a:active {
  color: #000000;
  text-decoration: none
}*/

.tablaazul {
	background-color: #ABBEEF; 
}

.bordetablaazul {
	BORDER-BOTTOM: #758DB5 1px solid; BORDER-TOP: #758DB5 1px solid; BORDER-RIGHT: #758DB5 1px solid; BORDER-LEFT: #758DB5 1px solid;  background-color: #ffffff; 
}

.bordetablaazul3 {
	BORDER-BOTTOM: #758DB5 0px solid; BORDER-TOP: #758DB5 1px solid; BORDER-RIGHT: #758DB5 1px solid; BORDER-LEFT: #758DB5 1px solid;  background-color: #ffffff; 
}

.bordetablaazul4 {
	BORDER-BOTTOM: #758DB5 1px solid; BORDER-TOP: #758DB5 0px solid; BORDER-RIGHT: #758DB5 0px solid; BORDER-LEFT: #758DB5 0px solid;  background-color: #ffffff; 
}

.bordetablaazulB {
	font-size: 14px; 
 font-weight: bold;
	BORDER-BOTTOM: #758DB5 1px solid; background-color: #ffffff; 
}


.rollotabla {
background-color: #FFCC99; 
}

.titulo { 
 font-size: 18px; 
 font-weight: bold;
 color: #627090; 
 border-bottom: 1px solid #B0B7C7;
}

.toptabla {

  background: #A2B3CE;
/*   background: #758DB5;*/
  padding-top: 7px;
  /*border-top-width: 6;
  background: url(../imagenes/botones/barra2.gif);*/
  height: 20px;
  font-size: 11px;
  font-family: Arial;
  font-weight: bold;
  color: #FFFFFF;
  /*text-align: center;*/
  vertical-align: bottom;  
}

.MatrizTitulo {
font-size: 10px;
	background-color: #778FB7;
	color: #ffffff; 
	text-align: center;
}

.MatrizSUBTitulo {
font-size: 9px;
	background-color: #A2B3CE;
	color: #000000; 
	text-align: center;
}

.MatrizTexto {
font-size: 9px;
	background-color: #FFFFFF;
	color: #000000; 
	BORDER-BOTTOM: #CCCCCC 1px solid;
}

.MatrizAlto {
font-size: 8px;
	background-color: #FF0000;
	color: #000000; 
	width : 50px;
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid;

}

.MatrizMedio {
font-size: 8px;
	background-color: #FFCC00;
	color: #000000; 
	width : 50px;
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid;

}

.MatrizBajo {
font-size: 8px;
	background-color: #66CC33;
	color: #000000; 
	width : 50px;
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid;

}

.subtpreliminar {
color:#758DB5;
font-size: 11px;
padding-top: 14px;
padding-BOTTOM: 4px;
margin-BOTTOM: 20px;
BORDER-BOTTOM: #758DB5 0px solid;

}


.Avisos {
background-color: #FFCC99;
BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid;

}

.tablagris {
	background-color: #E6E6E6; 
}

.tablagrisClara {
	background-color: #F9F9F9; 
}

.tablablanca {
	background-color: #ffffff;
}

.tablaAzulClara1 {
	background-color: #778FB7;
	color: #ffffff;
}

.tablaAzulClara2 {
	background-color: #A2B3CE;
	color: #ffffff;
}


.textogris {
   padding-top: 2px;
	padding-left: 12px;
	text-align: left;
	color: #666666;
}

.advertencia {
  /*background: #ff6666;
  color: #ffcccc; */
  padding: 6;
  font-weight: bold; 
font-size: 16px; 
  BORDER-BOTTOM: #758DB5 1px solid;BORDER-RIGHT: #758DB5 1px solid; BORDER-LEFT: #758DB5 1px solid; BORDER-TOP: #ff6666 4px solid;
 }
 
 .cajainfo { 
  padding: 6;
  font-weight: none; 
font-size: 16px; 
  BORDER-BOTTOM: #758DB5 1px solid;BORDER-RIGHT: #758DB5 1px solid; BORDER-LEFT: #758DB5 1px solid; BORDER-TOP: #66CC66 4px solid;
 }
 
 .cajainfoBlue { 
  padding: 6;
  font-weight: none; 
font-size: 16px; 
  BORDER-BOTTOM: #758DB5 1px solid;BORDER-RIGHT: #758DB5 1px solid; BORDER-LEFT: #758DB5 1px solid; BORDER-TOP: #758DB5 4px solid;
 }
 

.avrojo {
  color: #cc0000;
}

.menuder {
 background: #D0CFD0;
  color: #000000;
  BORDER-BOTTOM: #AFB2BC 1px solid; BORDER-LEFT: #AFB2BC 1px solid; BORDER-RIGHT: #AFB2BC 1px solid; BORDER-TOP: #AFB2BC 1px solid;
}


select { 
 background-color: #F9F9F9; 
 color: #000000; 
}

select.tarea { 
 background-color: #ffffff; 
 color: #FF0000; 
 font-size: 14px;
}



input { 
 font-size: 10px; 
 background-color: #ffffff; 
 border: 1px solid #666666;
}

input.button {
 BORDER-LEFT: #006699 4px solid;

}

input.buttonverde {
 BORDER-LEFT: #66CC00 4px solid;

}

input.buttonrojo {
 BORDER-LEFT: #FF0000 4px solid;

}

input.checkbox {
 BORDER: none;
}

input.crono {
background-color: #F9F9F9; 
font-weight: bold; 
font-size: 16px; 
color: #cc0000;
text-align: center;
}

.nombreusuario {
padding-bottom:10px;
font-weight: bold; 
font-size: 12px; 
color: #666666;
/*text-align: default;*/

}

textarea { 
 background-color: #ffffff; 
 color: #000000; 
 border: 1px solid #758DB5;
}

/* ESTILO MENU IZQUIERDO */

.menizz{
padding: 3px;
margin-left: 5px;
margin-bottom: 3px;
font: 11px Verdana;
color: #626161;
background: #EDEBF3;
border-bottom: #4E6792 1px solid;

}

.menizzON{
padding: 3px;
margin-left: 5px;
margin-bottom: 3px;
font: 11px Verdana;
color: #626161;
background: #FFFFFF;
border-bottom: #4E6792 1px solid;

}

.menizz a:active{
font: 11px Verdana;
color: #626161;
background: #FFFFFF;
display: block;
}



/* FIN MENU IZQUIERDO */

.toparbol {

background: #66CC66;
height: 4px;
}


/* ESTILO TAB */

.tabOFF{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
color: #627090;
background: #ffffff;
}

.tabON{
text-align: center;
padding: 3px;
BORDER: #4E6792 1px solid;
border-bottom: none;
/*BORDER-TOP: #66CC66 3px solid;*/
BORDER-TOP: #ff6666 3px solid;
 color: #ffffff;
background: #A2B3CE;
}

/* FIN ESTILO TAB */


#ddtoptabsline {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #758DB5; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 6px
}
