
/**************************************************************

	Lightbox
	v 1.5

**************************************************************/

#lbOverlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../imagenes/loading.gif) no-repeat center;
}

#lbImage {
	border: 10px solid #fff;
}


.photos {
	padding: 3px;
	border: 1px solid #fff;
}

a:hover .photos {
	border: 1px solid #999;
}

.lightboxDesc a {
	color: #999999;
	text-decoration: none;
}

.lightboxDesc a:hover {
	color: #000000;
	text-decoration: none;
}

/***************************

	styles for hidden next & previous buttons

***************************/
/*
#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	height: 32px;
	outline: none;
}

#lbPrevLink {
	left: 0;
	
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0% 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

/***************************

	styles for next & previous buttons as part of footer

***************************/

#lbPrevLink, #lbNextLink {
	display: block;
	width: 63px;
	height: 32px;
	outline: none;
}

#lbPrevLink {
	float: left;
	background: transparent url(../imagenes/prevlabel.gif) no-repeat left;
	
}

#lbPrevLink:hover {
	background: transparent url(../imagenes/prevlabel.gif) no-repeat left;
}

#lbNextLink {
	float: right;
	background: transparent url(../imagenes/nextlabel.gif) no-repeat right;
}

#lbNextLink:hover {
	background: transparent url(../imagenes/nextlabel.gif) no-repeat right;
}

#lbControls {
	display: block;
	height: 32px;
}


/**********************************/


#lbBottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	clear: both;
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../imagenes/closelabel.gif) no-repeat center;
	margin: 0px 0px 0px 0px;
	/*border: 1px solid #000;*/
}

#lbCaption, #lbNumber, #lbDescription {
	margin-right: 71px;
	/*border: 1px solid #000;*/
}

#lbCaption {
	font-weight: bold;
}


.lightboxDesc {
	display: none;
}

/*************************************************************/

